/*css reset*/

* {
    padding: 0;
    margin: 0;
}


/*float :clear*/

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.clear:after {
    content: "";
    display: block;
=======
.clear {
>>>>>>> b4e1989df0cb12441b9e3716901ccc72410b46a0
=======
.clear {
>>>>>>> parent of ee8bd16... update
=======
.clear {
>>>>>>> parent of ee8bd16... update
    clear: both;
}

#tabs {
    width: 480px;
    height: 132px;
    background-repeat: repeat-y;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
body {
    height: 1000px;
}

=======
>>>>>>> parent of ee8bd16... update
#nav {
    height: 60px;
    background-image: url(images/nav_bg.gif);
}

#nav ul li {
<<<<<<< HEAD
=======
#nav {
    height: 60px;
    background-image: url(images/nav_bg.gif);
=======
#nav {
    height: 60px;
    background-image: url(images/nav_bg.gif);
>>>>>>> parent of ee8bd16... update
}

#nav ul li {
    float: left;
<<<<<<< HEAD
>>>>>>> b4e1989df0cb12441b9e3716901ccc72410b46a0
=======
    float: left;
>>>>>>> parent of ee8bd16... update
=======
>>>>>>> parent of ee8bd16... update
    width: auto;
    margin: 0 20px;
    display: inline-block;
}

#nav ul li a {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    float: right;
>>>>>>> parent of ee8bd16... update
=======
    float: right;
>>>>>>> parent of ee8bd16... update
    display: inline-block;
}

#content {
    border: 1px solid blue;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    float: right;
    display: inline-block;
}

#content {
    border: 1px solid blue;
=======
>>>>>>> parent of ee8bd16... update
=======
>>>>>>> parent of ee8bd16... update
}

#content ul {
    margin-left: 40px;
}

#content ul li {
    list-style: none;
}

#content ul li h2 {
    height: 30px;
    background-image: url(images/line.gif);
    background-repeat: repeat-x;
    background-position: center;
}

.imgs {
    float: left;
    margin: 20px 20px;
}

h2 {
    font-size: 12px;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> b4e1989df0cb12441b9e3716901ccc72410b46a0
=======
>>>>>>> parent of ee8bd16... update
=======
>>>>>>> parent of ee8bd16... update
}