/*css reset*/

* {
    padding: 0;
    margin: 0;
}


/*float :clear*/

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#tabs {
    width: 480px;
    height: 132px;
    background-repeat: repeat-y;
}

body {
    height: 1000px;
}

#nav {
    height: 48px;
    border: 1px solid blue;
}

#nav ul li {
    width: auto;
    margin: 0 20px;
    display: inline-block;
}

#nav ul li a {
    display: inline-block;
}

.content {
    border: 1px solid blue;
}